* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'noto';
  src: url('../font/SourceHanSerifCN-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'noto-smbold';
  src: url('../font/SourceHanSerifCN-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'noto-bold';
  src: url('../font/SourceHanSerifCN-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'noto-regular';
  src: url('../font/SourceHanSerifCN-Regular.ttf') format('truetype');
}
html,
body,
.container,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  overflow: hidden;
}
.px1-right {
  position: relative;
  border: none;
}
.px1-right:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  width: 1px;
  height: 100%;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
@keyframes bubble {
  0% {
    opacity: 0;
    transform: translate3d(0, 70px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.bubble1 {
  opacity: 0;
  animation: bubble 900ms linear 1000ms 1 normal forwards;
}
.bubble2 {
  opacity: 0;
  animation: bubble 900ms linear 2000ms 1 normal forwards;
}
.bubble3 {
  opacity: 0;
  animation: bubble 900ms linear 3000ms 1 normal forwards;
}
.bubble4 {
  animation: bubble 900ms linear 4000ms 1 normal forwards;
}
.line-bubble1 {
  opacity: 0;
  animation: bubble 900ms linear 800ms 1 normal forwards;
}
.line-bubble2 {
  opacity: 0;
  animation: bubble 900ms linear 1400ms 1 normal forwards;
}
.line-bubble3 {
  opacity: 0;
  animation: bubble 900ms linear 2000ms 1 normal forwards;
}
.line-bubble4 {
  opacity: 0;
  animation: bubble 900ms linear 2600ms 1 normal forwards;
}
@keyframes float {
  0% {
    transform: none;
  }
  100% {
    transform: translate3d(0, 50px, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.resultImg {
  width: 100%;
  z-index: 999;
}
.visi {
  visibility: visible !important;
}
