@font-face {
    font-family: "notoserifcjk_regular";
    src: url("notoserifcjk_regular.eot"); /* IE9 */
    src: url("notoserifcjk_regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("notoserifcjk_regular.woff") format("woff"), /* chrome, firefox */
    url("notoserifcjk_regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("notoserifcjk_regular.svg#notoserifcjk_regular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


